:root {
    --text-color: #dddddd;
    --bg-color: #444444;
    --font-family: "Comic Sans MS";
}

#root {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-family), sans-serif;
    text-align: center;
}

.shopNameItalic {
    font-style: italic;
}

.carsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.carCard {
    width: 500px;
    border: 5px solid var(--text-color);
    border-radius: 5px;
    margin: 50px 20px;
    padding: 20px;
}

.carHeader {
    font-size: 2rem;
    font-weight: bold;
}

.carImg {
    max-width: 500px;
    height: 250px;
}

.carButton, .selectList, .selectOption {
    margin: 20px;
    scale: 150%;
    border-radius: 5px;
    border: 2px solid var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--font-family), sans-serif;
    color: var(--text-color);
}

.carButton:hover {
    border: 2px solid var(--bg-color);
    background-color: var(--text-color);
    color: var(--bg-color);
}

.footer {
    margin-bottom: 150px;
}