#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: gray;
}

.App {
    font-family: Verdana, sans-serif;
    background-color: #e8ce96;
    width: 50vw;
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
    list-style-position: inside;
    border: 2px solid black;
    border-radius: 5px;
}

.CalcFlex {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.HeaderTitle {
    color: #e75d34;
}

.HeaderSubtitle {
    color: #6c1e08;
}

.SectionTitle {
    color: #296b03;
}

.Error {
    color: #cb0b0b;
    font-weight: bold;
    font-size: x-large;
}

.InfoMath {
    font-weight: bold;
}

.ImageWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vh;
}

img {
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}